body {
    font-family: sans-serif;
    background-color: #181D27;
    color: white;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #D0DB97;
}

.creator {
    display: inline-block;
    width: calc(33.33% - 20px);
    background-color: #254D32; /* Изменен цвет фона блока */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    vertical-align: top;
}

    .creator img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

h3 {
    font-size: 20px;
    color: #D0DB97; /* Изменен цвет текста "Создатели" */
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    color: #FFF; /* Изменен цвет текста в блоках с информацией о создателях */
}

a {
    color: #333;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
.back-button {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    background-color: #D0DB97;
}

    .back-button img {
        vertical-align: middle;
        margin-right: 5px;
    }
