/* Top bar styles */
#topbar {
  background-color: #254D32;
  color: white; /* Updated text color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#topbar img {
  max-height: 50px;
}

#topbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

#topbar a:hover {
  text-decoration: underline;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #181D27;
  color: white; /* Updated text color */
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
}

p {
  text-align: center;
  font-size: 24px;
}

.column {
  float: left;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  gap: 10px; /* Add vertical spacing between form elements */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 5px;
  margin-top: 20px;
  grid-gap: 10px;
}

.grid-item input {
  width: 30%;
  padding: 5px;
}

.grid-item input[type="text"] {
  text-align: center;
}

.grid-item input[type="number"] {
  text-align: center;
  -moz-appearance: textfield;
}

.grid-item input[type="number"]::-webkit-inner-spin-button,
.grid-item input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 10px;
}

/* home.css */

/* Center the headers and use Google Sans font */
h2 {
  text-align: left; /* Updated text alignment */
  font-family: "Google Sans", sans-serif;
  margin: 25px;
  color: white; /* Updated text color */
}

/* Add gradient classes for each button */
.button-gradient {
  background-image: linear-gradient(to bottom right, #D0DB97, #69B578);
}

.button-gradient1 {
  background-image: linear-gradient(to bottom right, #69B578, #D0DB97);
}

.button-gradient2 {
  background-image: linear-gradient(to bottom right, #B1CC74, #D0DB97);
}

/* Arrange buttons in a row */
.button-row {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin: 25px;
}

/* Apply gradient classes to buttons */
button.count-button {
  font-family: "Google Sans", sans-serif;
  font-size: 16px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  color: #000000;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* Additional styling for button hover and focus states */
button.count-button:hover,
button.count-button:focus {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation-name: gradient-rotation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes gradient-rotation {
  0% {
    background-position: top right;
  }
  50% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}


input[type="number"] {
  border-radius: 10px;
  background-color: #D0DB97;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 25px;
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  justify-self: center;
  margin: 25px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.creator {
    display: inline-block;
    width: calc(33.33% - 20px);
    background-color: #254D32;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    vertical-align: top;
}

    .creator img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }
