body {
    font-family: 'Roboto', sans-serif;
    background-color: #181D27;
    color: black;
    margin: 0;
    padding: 20px;
}

header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
h1 {
    color: #D0DB97;
}
.back-button {
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #D0DB97, #69B578);
    font-family: "Google Sans", sans-serif;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

    .back-button img {
        vertical-align: middle;
        margin-right: 5px;
    }

.informat {
    display: inline-block;
    background: linear-gradient(to top left, #69B578, #5BC0EB);
    border-radius: 20px;
    text-align: left;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 24px; /* ��������� ������� ������ */
    line-height: 1.4;
}
.info-section {
      display: inline-block;
      background: linear-gradient(to bottom right, #D0DB97, #69B578);
      border-radius: 20px;
      margin: 20px;
      padding: 10px;
        width: calc(50% - 20px);
        text-align: left;
        border: 1px solid #ccc;
        box-sizing: border-box;
        vertical-align: top;
        font-size: 18px;
        line-height: 1.4;
}
    .info-section p {
        color: black;
        margin-bottom: 10px;
    }
.goto_button {
    background: linear-gradient(to bottom right, #D0DB97, #69B578);
  font-family: 'Roboto', sans-serif;
  font-weight: initial;
  width: 200px;
  font-size: 16px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  color: #000000;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.button-row {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin: 25px;
}

.goto_button:hover {
  background-color: #6e6b6b;
}




