################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graphs/Logic/__pycache__
/graphs_images
message_log.txt
message.json